*{
  margin: 0px;
  padding: 0px
}
body {
    font-size: 24px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 400px;
    overflow: hidden;
    background-color: rgba(20, 20, 20, 0.9);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #9e0a0a;
}

.active {
    background-color: #9e0a0a;
}
.sub-menu img{
  height: 100px;
}
.banner{
  background-color: rgb(106, 106, 106);
}
.banner-img{
  width: 80%;
  float: left;
  padding: 0px 10%;
}
h2{
  margin: 10px;
  text-align: center;
}
p{
  margin: 10px;
  text-align: center;
  font-style: italic;
  font-size: 40px;
}
footer section{
    padding: 0;
    bottom: 0;
    width: 100%;
  background-color: rgb(77, 77, 77);
  overflow: hidden;
}
.frase{
  padding: 20px;
  font-style: italic;
  color: rgb(255, 255, 255);
}
