html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
a{
    text-decoration: none;
}
ul{
  list-style: none;
}
/*version desktop*/
/*menu*/
@media screen and (min-width:361px){
  .menu ul{
    margin: 0;
    overflow: visible;
    background-color: rgb(40, 40, 40);
    position: fixed;
    width: 100%;
    height: 51px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .menu ul li{
    display: inline-block;
    float: left;
    margin-top: 0;
  }
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 40px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 0;
  }
  .log{
    float: right;
  }
  .login{
    background-color: rgb(41, 101, 217);
  }
  .login a{
    color: black;
  }
  .activo{
    background-color: rgb(22, 159, 35);
  }
  .menu li:hover{
    background-color: rgb(224, 185, 18);
  }
  .menu li:active{
    background-color: rgb(218, 17, 17);
  }
  /*banner index*/
  .banner{
    margin-left: 10%;
    float: left;
    width: 80%;
    margin-top: 51px;
  }
  .banner img{
    width: 100%;
  }
  /*contenido*/
  .contenido {
    margin: 0 auto;
    padding-top: 64px;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.24), 0px 0px 15px 0px rgba(0,0,0,0.19);
  }
  /*contenido del INDEX*/
  .text h1{
    text-align: center;
    background-color: rgb(41, 41, 41);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(22, 159, 35);
    height: 45px;
    font-size: 30px;
  }
  .text p{
    text-align: center;
    font: 24px italic;
  }
  .promo ul{
    list-style: none;
  }
  .promo ul li{
    display: inline-block;
  }
  .promo ul li a p{
    margin: 50px 0px 0px 65px ;
    color: rgb(255, 255, 255);
    font-weight: bolder;
  }
  .promo ul li img{
    width: 200px;
    height: 200px;
    margin: 30px 0px 0px 25px;
  }
  .promo1{
    background-color: rgb(41, 101, 217);
    height: 350px;
    width: 250px;
    margin: 7%;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.90), 0px 0px 15px 0px rgba(0,0,0,0.60);
  }
  .promo2{
    background-color: rgb(224, 185, 18);
    height: 350px;
    width: 250px;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.90), 0px 0px 15px 0px rgba(0,0,0,0.60);
  }
  .promo3{
    background-color: rgb(218, 17, 17);
    height: 350px;
    width: 250px;
    margin: 7%;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.90), 0px 0px 15px 0px rgba(0,0,0,0.60);
  }
  /* contenido del NOSOTROS*/
  .imagen-nos img{
    margin-top: 50px;
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .text-nos p{
    margin: 50px 40px 40px 40px;
    text-align: center;
  }
  /*contenido del CATALOGO*/
  .lanzamientos{
    background-color: rgb(240, 240, 240);
    height: 580px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .text-lanz{
    background-color: rgb(41, 101, 217);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 80px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .name{
    text-decoration: underline;
    font: 16px ;
    font-weight: bolder;
  }
  .lanzamientos .precio{
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  .lanzamientos .calif{
    color: rgb(224, 185, 18);
    font-size: 40px;
  }
  .lanzamientos ul li p{
    color: rgb(255, 255, 255);
    margin: 2px 30px 0px 0px;
    text-align: center;
  }
  .lanzamientos img{
    width: 100%;
    height: 280px;
    margin-top: auto;
  }
  .li-lanz1{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 7%;
    margin-top: 5%;
  }
  .li-lanz2{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .li-lanz3{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .button {
      background-color: rgb(41, 101, 217);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: -22px 0px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      width: 250px;
  }
  .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
      color: black;
      background-color: rgb(224, 185, 18);
  }
  /* destacados */
  .text-des{
    background-color: rgb(22, 159, 35);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 10px 15px 0px rgba(0,0,0,0.24),0 17px 50px 0px rgba(0,0,0,0.19);
  }
  .destacados{
    background-color: rgb(240, 240, 240);
    height: 580px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .destacados .precio{
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  .destacados .calif{
    color: rgb(224, 185, 18);
    font-size: 40px;
  }
  .destacados ul li p{
    color: rgb(255, 255, 255);
    margin: 2px 30px 0px 0px;
    text-align: center;
  }
  .destacados img{
    width: 100%;
    height: 280px;
    margin-top: auto;
  }
  .li-des1{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 7%;
    margin-top: 5%;
  }
  .li-des2{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .li-des3{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  /*ofertas */
  .text-of{
    background-color: rgb(241, 50, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .ofertas{
    background-color: rgb(240, 240, 240);
    height: 580px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .ofertas .precio{
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  .ofertas .calif{
    color: rgb(224, 185, 18);
    font-size: 40px;
  }
  .ofertas ul li p{
    color: rgb(255, 255, 255);
    margin: 2px 30px 0px 0px;
    text-align: center;
  }
  .ofertas img{
    width: 100%;
    height: 280px;
    margin-top: auto;
  }
  .li-of1{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 7%;
    margin-top: 5%;
  }
  .li-of2{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .li-of3{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  /*consola*/
  .text-consola{
    background-color: rgb(224, 185, 18);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .consola{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 500px;
  }
  .consola ul{
    list-style: none;
    margin-bottom: 0px;
  }
  .consola ul li{
    float: left;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 0px 70px;
  }
  .consola ul li a p{
    color: rgb(22, 159, 35);
    margin: auto;
    font-weight: bolder;
    text-align: center;
  }
  .consola ul li img{
    width: 200px;
    height: 200px;
  }
  /*contenido del JUEGO*/
  .juego{
    width: 80%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    float: left;
    margin-left: 10%;
    margin-top: -5px;
  }
  .juego img{
    float: left;
    margin-left: 250px;
  }
  .juego p{
    float: left;
  }
  /*juegos*/
  .text-jue{
    background-color: rgb(224, 185, 18);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 20px 0px 0px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .juego{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 15px;
  }
  .juego img{
    height: 400px;
    width: auto;
    margin-left: 102px;
    margin-top: 50px;
  }
  .dato-juego{
    background-color: rgb(255, 255, 255);
    float:right;
    width: 50%;
    height: 550px;
    margin-top: 32px;
    margin-right: 100px;
  }
  .dato-juego p{
    text-align: left;
  }
  .dato-juego h3{
    text-align: center;
  }
  .dato-juego .precio{
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  .dato-juego .calif{
    color: rgb(224, 185, 18);
    font-size: 40px;
  }
  .img-min{
    margin: 100px ;
    height: 100px;
    float: left;
    margin-top: -140px;
  }
  .img-min img{
    width: 230px;
    height: 130px;
    margin-top: 10px;
    margin-left: 2px;
  }
  .button1{
      background-color: rgb(41, 101, 217);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 0px 102px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      width: 950px;
      margin-bottom: 100px;
      margin-top: 50px;
  }
  .button1:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
      color: black;
      background-color: rgb(224, 185, 18);
  }
  .comentario{
    margin-left: 400px;
    margin-top: 0px;
    text-align: left;
  }
  .form-comentario input{
    float: right;
    margin-right: 400px;
  }
  /*contacto*/
  .contacto{
    margin-left: 100px;
    margin-top: 50px;
    text-align: left;
    width: 30%;
    height: 350px;
  }
  .contenido h2{
    background-color: rgb(224, 185, 18);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 20px 0px 0px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .contacto input{
    float: right;
  }
  .cuadro{
    width: 173px;
    height: 130px;
  }
  .btn-send{
    background-color: rgb(41, 101, 217);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 150px;
    height: 50px;
    margin: 45px 10px 0px 0px;
  }
  .btn-send:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
      color: black;
      background-color: rgb(224, 185, 18);
  }
  iframe{
  height: 315px;
  width: 500px;
  margin: -350px 100px;
  float: right;
  }
  /*login*/
  .form-log{
    width: 50%;
    height: 200px;
    margin: 150px 250px 200px 250px;
    background-color: rgb(255, 255, 255);
  }
  /*REGISTRO*/
  .form-reg{
    width: 50%;
    height: 260px;
    margin: 150px 250px 200px 250px;
    background-color: rgb(255, 255, 255);
  }
  /* Footer Styles*/
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
  }
}
/*version mobil*/
@media screen and (max-width:360px){
  nav{
    background-color: rgb(40, 40, 40);
    position: absolute;
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .menu ul{
    overflow: visible;
    margin: 0px 0px 0px -40px;
  }
  .menu li{
    display: inline-block;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .menu li a {
      display: block;
      color: white;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 15px;
  }
  .menu img{
    margin-left: 39%;
    width: 100px;
    height: 40px;
  }
  .login{
    background-color: rgb(41, 101, 217);
  }
  .login a{
    color: black;
  }
  .activo{
    background-color: rgb(22, 159, 35);
  }
  .menu li:hover{
    background-color: rgb(224, 185, 18);
  }
  .menu li:active{
    background-color: rgb(218, 17, 17);
  }
  /*banner index*/
  .banner{
    margin-left: 10%;
    width: 80%;
  }
  .banner img{
    width: 100%;
    margin-top: 290px;
  }
  /*contenido*/
  .contenido {
    margin: 0 auto;
    padding-top: 64px;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-top: -5px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.24), 0px 0px 15px 0px rgba(0,0,0,0.19);
  }
  /*contenido del INDEX*/
  .text h1{
    text-align: center;
    background-color: rgb(41, 41, 41);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: auto;
    color: rgb(22, 159, 35);
    height: 80px;
  }
  .text p{
    text-align: center;
    font: 24px italic;
    margin: 40px 20px 50px 20px;
  }
  .promo{
    width: auto;
    height: 1000px;
  }
  .promo ul{
    list-style: none;
  }
  .promo ul li{
    display: inline-block;
  }
  .promo ul li a p{
    margin: 40px 30px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
  }
  .promo ul li img{
    width: 200px;
    height: 200px;
    margin: 30px 0px 0px -12px;
    box-shadow:
  }
  .promo1{
    background-color: rgb(41, 101, 217);
    height: 350px;
    width: 250px;
    margin: 8%;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.90), 0px 0px 15px 0px rgba(0,0,0,0.60);
  }
  .promo2{
    background-color: rgb(224, 185, 18);
    height: 350px;
    width: 250px;
    margin: 7%;
    margin-top: -440px;
    margin-left: 450px;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.90), 0px 0px 15px 0px rgba(0,0,0,0.60);
  }
  .promo3{
    background-color: rgb(218, 17, 17);
    height: 350px;
    width: 250px;
    margin: 7%;
    margin-top: -430px;
    margin-left: 800px;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.90), 0px 0px 15px 0px rgba(0,0,0,0.60);
  }
  /* contenido del NOSOTROS*/
  .imagen-nos img{
    margin-top: 50px;
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .text-nos p{
    margin: 50px 40px 40px 40px;
    text-align: center;
  }
  /*contenido del CATALOGO*/
  .lanzamientos{
    background-color: rgb(240, 240, 240);
    height: 580px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .text-lanz{
    background-color: rgb(41, 101, 217);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 80px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .name{
    text-decoration: underline;
    font: 16px ;
    font-weight: bolder;
  }
  .lanzamientos .precio{
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  .lanzamientos .calif{
    color: rgb(224, 185, 18);
    font-size: 40px;
  }
  .lanzamientos ul li p{
    color: rgb(255, 255, 255);
    margin: 2px 30px 0px 0px;
    text-align: center;
  }
  .lanzamientos img{
    width: 100%;
    height: 280px;
    margin-top: auto;
  }
  .li-lanz1{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 7%;
    margin-top: 5%;
  }
  .li-lanz2{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .li-lanz3{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .button {
      background-color: rgb(41, 101, 217);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: -22px 0px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      width: 250px;
  }
  .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
      color: black;
      background-color: rgb(224, 185, 18);
  }
  /* destacados */
  .text-des{
    background-color: rgb(22, 159, 35);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 10px 15px 0px rgba(0,0,0,0.24),0 17px 50px 0px rgba(0,0,0,0.19);
  }
  .destacados{
    background-color: rgb(240, 240, 240);
    height: 580px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .destacados .precio{
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  .destacados .calif{
    color: rgb(224, 185, 18);
    font-size: 40px;
  }
  .destacados ul li p{
    color: rgb(255, 255, 255);
    margin: 2px 30px 0px 0px;
    text-align: center;
  }
  .destacados img{
    width: 100%;
    height: 280px;
    margin-top: auto;
  }
  .li-des1{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 7%;
    margin-top: 5%;
  }
  .li-des2{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .li-des3{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  /*ofertas */
  .text-of{
    background-color: rgb(241, 50, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .ofertas{
    background-color: rgb(240, 240, 240);
    height: 580px;
    margin-top: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .ofertas .precio{
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  .ofertas .calif{
    color: rgb(224, 185, 18);
    font-size: 40px;
  }
  .ofertas ul li p{
    color: rgb(255, 255, 255);
    margin: 2px 30px 0px 0px;
    text-align: center;
  }
  .ofertas img{
    width: 100%;
    height: 280px;
    margin-top: auto;
  }
  .li-of1{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 7%;
    margin-top: 5%;
  }
  .li-of2{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  .li-of3{
    float: left;
    background-color: rgb(40, 40, 40);
    height: 406px;
    width: 250px;
    margin-left: 8%;
    margin-top: 5%;
  }
  /*consola*/
  .text-consola{
    background-color: rgb(224, 185, 18);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .consola{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 500px;
  }
  .consola ul{
    list-style: none;
    margin-bottom: 0px;
  }
  .consola ul li{
    float: left;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 0px 70px;
  }
  .consola ul li a p{
    color: rgb(22, 159, 35);
    margin: auto;
    font-weight: bolder;
    text-align: center;
  }
  .consola ul li img{
    width: 200px;
    height: 200px;
  }
  /*contenido del JUEGO*/
  .juego{
    width: 80%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    float: left;
    margin-left: 10%;
    margin-top: -5px;
  }
  .juego img{
    float: left;
    margin-left: 250px;
  }
  .juego p{
    float: left;
  }
  /*juegos*/
  .text-jue{
    background-color: rgb(224, 185, 18);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 20px 0px 0px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .juego{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 15px;
  }
  .juego img{
    height: 400px;
    width: auto;
    margin-left: 102px;
    margin-top: 50px;
  }
  .dato-juego{
    background-color: rgb(255, 255, 255);
    float:right;
    width: 50%;
    height: 550px;
    margin-top: 32px;
    margin-right: 100px;
  }
  .dato-juego p{
    text-align: left;
  }
  .dato-juego h3{
    text-align: center;
  }
  .dato-juego .precio{
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  .dato-juego .calif{
    color: rgb(224, 185, 18);
    font-size: 40px;
  }
  .img-min{
    margin: 100px ;
    height: 100px;
    float: left;
    margin-top: -140px;
  }
  .img-min img{
    width: 230px;
    height: 130px;
    margin-top: 10px;
    margin-left: 2px;
  }
  .button1{
      background-color: rgb(41, 101, 217);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 0px 102px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      width: 950px;
      margin-bottom: 100px;
      margin-top: 50px;
  }
  .button1:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
      color: black;
      background-color: rgb(224, 185, 18);
  }
  .comentario{
    margin-left: 400px;
    margin-top: 0px;
    text-align: left;
  }
  .form-comentario input{
    float: right;
    margin-right: 400px;
  }
  /*contacto*/
  .contacto{
    margin-left: 100px;
    margin-top: 50px;
    text-align: left;
    width: 30%;
    height: 350px;
  }
  .contenido h2{
    background-color: rgb(224, 185, 18);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 20px 0px 0px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .contacto input{
    float: right;
  }
  .cuadro{
    width: 173px;
    height: 130px;
  }
  .btn-send{
    background-color: rgb(41, 101, 217);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 150px;
    height: 50px;
    margin: 45px 10px 0px 0px;
  }
  .btn-send:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
      color: black;
      background-color: rgb(224, 185, 18);
  }
  iframe{
  height: 315px;
  width: 500px;
  margin: -350px 100px;
  float: right;
  }
  /*login*/
  .form-log{
    width: 50%;
    height: 200px;
    margin: 150px 250px 200px 250px;
    background-color: rgb(255, 255, 255);
  }
  /*REGISTRO*/
  .form-reg{
    width: 50%;
    height: 260px;
    margin: 150px 250px 200px 250px;
    background-color: rgb(255, 255, 255);
  }
  /* Footer Styles*/
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
  }
}
