/* VERSION DESKTOP */
@media screen and (min-width:361px){
  footer{
      text-align: center;
      width: 100%;
      background-color: rgb(50, 50, 50);
      color: rgb(255, 255, 255);
      overflow: hidden;
  }
}
/* VERSION MOBIL */
@media screen and (max-width:360px){
  footer{
      text-align: center;
      width: 100%;
      background-color: rgb(50, 50, 50);
      color: rgb(255, 255, 255);
      overflow: hidden;
  }
}
