/* VERSION DESKTOP */
@media screen and (min-width:361px){
  /*contenido inicio de sesion*/
  .user{
    width: 40%;
    margin-left: 30%;
    padding-top: 15%;
    padding-bottom: 0%;
  }
  .form-log{
    height: 280px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
  }
  .form-log p{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 80px;
  }
  .form-log input{
    float: right;
    margin-right: 20%;
  }
  .form-log legend{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
  }
  .logo-sesion{
    width: 100px;
    height: 40px;
    margin: 10px 215px 0px;
  }
  #btn-sesion{
    margin-right: 17%;
    width: 370px;
    background-color: rgb(22, 159, 35);/*VERDE*/
  }
  #btn-sesion:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: rgb(224, 185, 18);/*amarillo*/
  }
  .form-log a{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    padding: 20px 170px 10px 180px;
    text-align: center;
    font-style: italic;
  }
  /*contenido nuevo registro*/
  .form-reg{
    padding-top: 50px;
  }
  .imagen-reg img{
    margin-left: 200px;
    width: 60%;
  }
  .registro{
    background-color: rgb(40, 40, 40);
    height: 300px;
  }
  .registro legend{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
  }
  .registro p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 350px;
  }
  .registro input{
    float: right;
    margin-right: 350px;
  }
  #btn-reg{
    margin-right: 350px;
    width: 390px;
    background-color: rgb(22, 159, 35);/*VERDE*/
  }
  #btn-reg:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: rgb(224, 185, 18);/*amarillo*/
  }
}
/* VERSION MOBIL */
@media screen and (max-width:360px){
  /*contenido inicio de sesion*/
  .user{
    width: 90%;
    margin-left: 5%;
    padding-top: 105%;
    padding-bottom: 40%;
  }
  .form-log{
    height: 280px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
  }
  .form-log p{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 8px;
  }
  .form-log input{
    float: right;
    margin-right: 2%;
  }
  .form-log legend{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  .logo-sesion{
    width: 100px;
    height: 40px;
    margin: 10px 115px 0px;
  }
  #btn-sesion{
    width: 96%;
    margin-top: 10px;
    background-color: rgb(22, 159, 35);/*VERDE*/
  }
  #btn-sesion:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: rgb(224, 185, 18);/*amarillo*/
  }
  .form-log a{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    padding: 10px 50px 10px 80px;
    text-align: justify;
    font-style: italic;
  }
  /*contenido nuevo registro*/
  .form-reg{
    padding-top: 10%;
    padding-bottom: 50%;
  }
  .imagen-reg img{
    margin-left: 5%;
    width: 90%;
  }
  .registro{
    background-color: rgb(40, 40, 40);
    height: 250px;
    width: 100%;
  }
  .registro legend{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
  }
  .registro p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 4%;
    font-size: 14px;
  }
  .registro input{
    float: right;
    width: 45%;
    margin-right: 4%;
  }
  #btn-reg{
    width: 93%;
    background-color: rgb(22, 159, 35);/*VERDE*/
  }
  #btn-reg:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 10px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: rgb(224, 185, 18);/*amarillo*/
  }
}
